.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 50px;
  width: 80%;
  background-color: var(--bgNeutral);
  padding: 40px;
  border-radius: 10px;
  color: var(--txtBlack);
}

.header {
  color: var(--txtBlack);
}
.container input,
.container textarea {
  padding: 10px;
  background-color: var(--bgLight);
  border: none;
  border-radius: 5px;
  color: var(--txtBlack);
}

.container button {
  padding: 5px;
  cursor: pointer;
  background-color: var(--bgBlue);
  color: var(--txtWhite);
  border: none;
  border-radius: 5px;
}
