.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.button {
  padding: 20px;
  cursor: pointer;
  background-color: var(--bgBlue);
  color: var(--txtWhite);
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  height: 20px;
}
